
.header1 {
  font-weight: 400;
  font-size: 32px;
  color: #000;
}
.item1 {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}
#h2 {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}
.all_items {
  margin-top: 30px;
}
.item1 {
  border-radius: 6px;
  width: 500px;
  height: 479px;
  padding: 10px;
  background: #fff7d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.items {
  display: flex;
  align-items: center;
  gap: 30px;
}
.item1 li {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.item1 ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  height: 148px;
}
.small_item1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 6px;
  background: #fff7d9;
}
.item_left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item_left h3 {
  font-weight: 600;
  font-size: 21px;
  color: #000;
}
.item_left p {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.item3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.all_items{
    display: flex;
    gap: 30px;
}